<h2>Reclamation List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Adresse</th>
      <th>Date Reclamation</th>
      <th>Description</th>
      <th>Id Client</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let reclamation of reclamations">
      <td>{{ reclamation.adresse }}</td>
      <td>{{ reclamation.dateReclamation }}</td>
      <td>{{ reclamation.description }}</td>
      <td>{{ reclamation?.clientReclamation?.idClient }}</td>
      <td>
        <button
          (click)="updateReclamation(reclamation.idReclamation)"
          class="btn btn-info"
        >
          Update
        </button>
        <button
          (click)="deleteReclamation(reclamation.idReclamation)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="getReclamationById(reclamation.idReclamation)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
