<html>

<head>
    <meta charset="utf-8">
    <title>Invoice</title>
    <link rel="license" href="https://www.opensource.org/licenses/mit-license/">
    <script src="script.js"></script>
</head>

<body style="    height: fit-content;">
    <header>
        <h1>Invoice</h1>
        <address  >
            <p>Jonathan Neal</p>
            <p>101 E. Chapman Ave<br>Orange, CA 92866</p>
            <p>(800) 555-1234</p>
        </address>
        <span><img alt="" src="http://www.jonathantneal.com/examples/invoice/logo.png"><input type="file"
                accept="image/*"></span>
    </header>

    <form >
        <article>
            <h1>Recipient</h1>
            <address  >
                <p><select [ngModelOptions]="{standalone: true}"  [ngModel]="idclient" (change)="changeIdClient($event)">
                        <option *ngFor="let item of clients; "  [attr.selected]="item.idClient==facture.client.idClient ? true : null" >
                            {{item.nom}}
                        </option>
                    </select> 
                </p>
            </address>




            <table class="meta">
                <tr>
                    <th><span  >Invoice #</span></th>
                    <td><span  >101138</span></td>
                </tr>
                <tr>
                    <th><span  >Date</span></th>
                    <td><span  >January 1, 2012</span></td>
                </tr>
                <tr>
                    <th><span  >Amount Due</span></th>
                    <td><span id="prefix"  >DT</span><span> {{facture.montantFacture}}</span></td>
                </tr>
            </table>
            <table class="inventory">
                <thead>
                    <tr>
                        <th><span>Id</span></th>
                        <th><span>Item</span></th>
                        <th><span>Pourcentage Remise %</span></th>
                        <th><span>Product Price</span></th>
                        <th><span>Quantity</span></th>
                        <th><span>Total Price</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let dfacture of details; let i = index;">
                        <td ng-hide="myValue">
                            <a class="cut" (click)="deleteDetailFacture(dfacture.idDetailFacture)">-</a>
                            {{dfacture.idDetailFacture}}</td>
                        <td>
                            <select (click)="changeIdprod($event)">
                                <option *ngFor="let produit of produits;"  [value]="produit.libelle" 
                                [attr.selected]="dfacture.produit.libelle==produit.libelle ? true : null" required>
                                    {{produit.libelle}}
                                </option>
                            </select>
                        </td>
                        <td><input type="number" name="remiseProduit{{dfacture.idDetailFacture}}" [ngModelOptions]="{standalone: true}"  [ngModel]="remiseProduit[dfacture.idDetailFacture]" value="{{dfacture.pourcentageRemise}}" min="0" placeholder="{{dfacture.pourcentageRemise}}" max="100" (change)="getremise($event)" required></td>
                        <td><span data-prefix >DT</span><span [ngModelOptions]="{standalone: true}"  [ngModel]="prixProduit"  > {{dfacture.produit.prixUnitaire}}</span></td>
                        <td><input type="number" name="qte{{dfacture.idDetailFacture}}" value="{{dfacture.qte}}" min="1" max="100" (change)="calculatePrix($event)" required></td>
                        <td><span data-prefix>DT</span><span > {{dfacture.prixTotal}}</span></td>
                        <td>
                            <input   type="button" class="btn btn-success" (click)="editDetailFacture(dfacture.idDetailFacture)" value="Save">
                        </td>
                    </tr>


                    <tr>
                        <td>

                        </td>
                        <td>
                            <select  (change)="changeIdprod($event)">
                                <option *ngFor="let produit of produits;" formControlName="title" required>
                                    {{produit.libelle}}
                                </option>
                            </select>
                        </td>
                        <td><input type="number" name="remiseProduit" [ngModel]="remiseProduit" value="0" min="0" placeholder="0" max="100" (change)="getremise($event)" required></td>
                        <td><span data-prefix >DT</span><span [ngModel]="prixProduit" formControlName="prix1" > {{idproduit}}</span></td>
                        <td><input type="number" name="qte" formControlName="qte" value="0" min="1" max="100" (change)="calculatePrix($event)" required></td>
                        <td><span data-prefix>DT</span><span > {{totaldetailProduit}}</span></td>
                        <td>
                            <input   type="button" class="btn btn-success" (click)="addDetailFacture()" value="Save">
                        </td>
                    </tr>
                </tbody>
            </table>
            
            <table class="balance">
                <tr>
                    <th><span  >Total</span></th>
                    <td><span data-prefix>DT</span><span> {{facture.montantFacture+facture.montantRemise}}</span></td>
                </tr>
                <tr>
                    <th><span  >Discount</span></th>
                    <td><span data-prefix>DT</span><span> {{facture.montantRemise}}</span></td>
                </tr>
                <tr>
                    <th><span  >Total after discount</span></th>
                    <td><span data-prefix>DT </span><span  > {{facture.montantFacture}}</span></td>
                </tr>
                
            </table>
            <div style="margin-top: 23%;
            margin-left: 55%;">
                <button type="submit" style="padding: 6%;" class="btn btn-primary pull-right" (click)="payFacture(59)">Pay Facture</button>



                <button type="submit" style="padding: 6%;" class="btn btn-primary pull-right" (click)="editFacture()">Update Facture</button>
            </div>

            
        </article>
    </form>
    <aside>
        <h1><span  >Additional Notes</span></h1>
    </aside>
</body>

</html>

